{% extends 'base.html'%}


<body>
    <!--제목 block사이에 입력하면 됩니다.-->
    {% block title %}
    
    {% endblock %}
    <!--타이틀 끝-->


    <!--컨텐츠 block사이에 입력하면 됩니다.-->
    {% block contents %}

<div style="text-align: center">
    <br>
    <h2>{{productpay.lowerlimit}}원이 결제완료 되었습니다!</h2>
    <br>
    <h4>{{productpay.pbrand}}</h4>
    <p>{{productpay.pitem}}</p>
    <img src="{{productpay.productimg.url}}" height="200" alt=""><br><br>
    <img src="{{productpay.file.url}}" height="200" alt=""><br>
    <br><br>


    <a class="btn btn-primary" href="{% url 'delete' productpay.id %}">완료</a>

</div>


    {%endblock%}
    <!--컨텐츠 끝-->

</body>