# Created by https://www.gitignore.io/api/django,elasticbeanstalk
# Edit at https://www.gitignore.io/?templates=django,elasticbeanstalk

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py


### ElasticBeanstalk ###
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml 
!.elasticbeanstalk/*.global.yml
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
